#danmaku_overlay {
   width: 100%;
   height: 100%;
   top: 0;
   position: absolute;
   pointer-events: none;
	overflow: hidden;
	z-index: 10;
}

#danmaku_overlay .danmaku {
   display: inline-block;
   position: absolute;
   white-space: nowrap;
   overflow: visible;
   vertical-align: middle;
   transition: transform 5s cubic-bezier(.15,.3,.85,.7), visiblity .1s;
   visibility: hidden;
}

#danmaku_overlay .danmaku .chat-image {
   display: inline-block !important;
}

#danmaku_overlay .stroke, #danmaku_overlay .stroke>*, #danmaku_overlay .stroke>*>*, #danmaku_overlay .stroke>*>*>*, #danmaku_overlay .stroke>*>*>*>*, #danmaku_overlay .stroke>*>*>*>*>*, #danmaku_overlay .stroke>*>*>*>*>*>*{
   text-shadow: -2px -2px 0 rgba(0,0,0,.6), 2px -2px 0 rgba(0,0,0,.6), -2px 2px 0 rgba(0,0,0,.6), 2px 2px 0 rgba(0,0,0,.6) !important;
}

#danmaku_overlay .shadow, #danmaku_overlay .shadow>*, #danmaku_overlay .shadow>*>*, #danmaku_overlay .shadow>*>*>*, #danmaku_overlay .shadow>*>*>*>*, #danmaku_overlay .shadow>*>*>*>*>*, #danmaku_overlay .shadow>*>*>*>*>*>*{
   text-shadow: 0px 2px 0 black !important;
}

#danmaku_overlay .danmaku .tw-placeholder {
   display: none !important;
}

#danmaku_overlay .danmaku .mention-fragment {
   background: none;
}

#danmaku_overlay .danmaku .video-chat__message,
#danmaku_overlay .danmaku .text-fragment {
   color: white;
}

#danmaku_overlay .danmaku div {
   text-shadow: none;
   color: black;
}

#danmaku_overlay .danmaku img {
   max-height: 125%;
   width: auto;
   vertical-align: middle;
}

._tcd_full .persistent-player{
	width: 100% !important;
}

._tcd_full .right-column div.tw-flex-grow-0, ._tcd_full .right-column div.tw-flex-grow-0.tw-block{
	display: none !important;
}