html {
	body {
		color: var(--clrText);
		background-color: var(--clrBg);
		padding: 1rem 1.2rem;
		width: 28rem;
		margin: 0 auto;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: normal;
	line-height: initial;
}

form {
	font-size: 1.4rem;

	$pages: 'general', 'filters';

	.page {
		display: none;

		.further-settings {
			&.hidden {
				display: none;
			}
		}

		.buttonGroup {
			display: flex;
			justify-content: center;
			margin-top: 1rem;

			button {
				& + button {
					margin-left: 1rem;
				}
			}
		}

		p {
			color: var(--clrTextLight);
			font-size: 1.2rem;
		}

		.filter-list {
			margin-top: 1rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			input {
				width: 100%;
			}
		}
	}

	@each $page in $pages {
		&[data-current='#{$page}'] .page[data-page='#{$page}'] {
			display: block;
		}
	}
}

.copyright {
	text-align: center;
	color: var(--clrTextLight);
	font-size: 1.2rem;
	opacity: 0.7;
}

a {
	transition: color 0.2s;
	&:hover {
		color: var(--clrTheme);
	}
}

hr {
	background-color: none;
	border: none;
	border-top: solid 1px var(--clrBgDark);
	margin: 1rem 0;
}

.hidden {
	display: none !important;
}
