:root {
	--clrTheme: #9146ff;
	--clrBg: #f9f9f9;
	--clrBgDark: #ddd;
	--clrText: #333;
	--clrTextLight: #777;
	--clrShadow: #777;
	--clrHighlight: #f0f0f0;
	--clrRegex: #bcf2c8;

	@media (prefers-color-scheme: dark) {
		--clrBg: #222;
		--clrBgDark: #444;
		--clrShadow: #444;
		--clrHighlight: #ddd;
		--clrText: #ddd;
		--clrTextLight: #aaa;
		--clrRegex: #92dda4;
	}
}
