html {
	body {
		color: var(--clrText);
		background-color: var(--clrBg);
		padding: 1rem 1.2rem;
		width: 28rem;
		margin: 0 auto;
		overflow-x: hidden;
		overflow-y: auto;
	}
}


h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: normal;
	line-height: initial;
}

form {
	font-size: 1.4rem;

	.further-settings {
		overflow-y: hidden;
		max-height: 240px;
		transition: max-height 0.3s;

		&.hidden {
			max-height: 0;
		}
	}

	.buttonGroup {
		display: flex;
		justify-content: center;
		margin-top: 1rem;

		button {
			& + button {
				margin-left: 1rem;
			}
		}
	}
}

.copyright {
	text-align: center;
	color: var(--clrTextLight);
	font-size: 1.2rem;
	opacity: 0.7;
}

a {
	transition: color .2s;
	&:hover {
		color: var(--clrTheme);
	}
}

hr {
	background-color: none;
	border: none;
	border-top: solid 1px var(--clrBgDark);
	margin: 1rem 0;
}

.hidden {
	display: none !important;
}